@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

body {
	color: white;
  overflow-x: hidden;
}
.header-container {
    background-image: url(https://images.unsplash.com/photo-1599409333465-8b0b9e905f37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 75vh;
}
.header-position {
  padding: 100px 0;
margin: 0 auto;
}

#landing {

	color: black;
}
.btn{
    border-radius: 2px !important;
    width: 175px;
}
li {
 list-style-type: none;
	
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#email-header {
    color: black;
}
footer {
  color: black;
}
#attributes {
  color: black;
}
.picture-grid {
  color: black;
}
